.progress-spinner {
    background-image: url("/static/img/spinner.gif");
    width: 75px;
    height: 75px;
    margin: auto;
    background-size: 75px 75px;
}

#deauth-modal .modal-container {
    width: 700px;
}

.centered {
    text-align: center;
}