click==6.6
enum-compat==0.0.2
enum34==1.1.6
Flask==0.12
Flask-SocketIO==2.8.2
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8.1
Logbook==1.0.0
lxml==3.7.1
MarkupSafe==0.23
py==1.4.32
python-engineio==1.1.0
python-socketio==1.6.2
scapy==2.3.3
six==1.10.0
subprocess32==3.2.7
trollius==1.0.4
Werkzeug==0.11.15
